@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Review Assignment

   Cinema Penguin Styles for Media
   Author: William Hamm
   Date:   11/04/2024

   Filename: cp_media2.css
*/

/* Media Styles */
audio, video {
   display: block;
   width: 95%;
   margin: 20px auto;
}

/* Track Styles */
::cue {
   background-color: transparent;
   text-shadow: 1px 1px 2px black;
   color: rgb(255, 177, 66);
   font-size: 1.2em;
   font-family: sans-serif;
}

::cue(.Title) {
   font-size: 2em;
   font-family: serif;
}