@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 3
   
   Author:   William Hamm
   Date:     10/10/2024
   Filename: code6-3_columns.css

*/

/* Task 3: 3-column layout with borders */
article {
   column-count: 3;
   column-width: 350px;
   column-rule: 5px ridge rgb(231, 231, 231);
   column-gap: 20px;
}

/* Task 4: h1 spanning across columns */
article h1 {
   column-span: all;
   text-align: center;
   font-size: 3.5em;
   letter-spacing: 0.15em;
}

/* Task 5: Set widows and orphans to 4 lines */
article p {
   widows: 4;
   orphans: 4;
}