@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: William Hamm
   Date:   10/10/2024

   Filename:         mi_tables.css
*/

/* Table Styles */
table {
   background: linear-gradient(to bottom, rgb(190, 215, 255), black);
   border: 5px solid gray;
}

th, td {
   border: 3px solid gray;
   line-height: 1.4em;
   padding: 8px;
}

/* Column Styles */
#firstCol {
   width: 24%;
}

.dataCols {
   width: 19%;
}

/* Table Header Styles */
thead tr {
   height: 60px;
}

th {
   background-color: black;
   color: rgb(130, 210, 255);
   font-weight: normal;
}

thead tr:first-of-type {
   font-size: 2em;
}

thead tr:first-of-type th:not(:first-of-type) {
   background-color: transparent;
   color: black;
}

/* Table Data Styles */
td {
   color: white;
   font-size: 0.9em;
   vertical-align: top;
}