@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Coding Challenge 3

   Author: William Hamm
   Date: 09/15/2024  
   
   Filename: code3-3_scroll.css

*/


section #container {
   width: 900px;
   height: 370px;
   margin: 10px auto;
   position: relative;
   top: 30px;
   left: 0px;
   outline: 2px solid brown;
   overflow: auto;  
}

div {
   width: 300px;
   height: 330px;
   position: absolute;
}

#slide1 { left: 0px; }
#slide2 { left: 300px; }
#slide3 { left: 600px; }
#slide4 { left: 900px; }
#slide5 { left: 1200px; }
#slide6 { left: 1500px; }
#slide7 { left: 1800px; }
#slide8 { left: 2100px; }
#slide9 { left: 2400px; }

img {
   display: block;
   width: 300px;
   height: 300px;
}
