/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: William Hamm
   Date:   11/19/2024
   
   Filename: pc_specials.css
*/

/* Page Body Styles */
body {
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   margin: 0 auto;
}

/* Image Styles */
img {
   display: block;
   width: 100%;
}

/* Horizontal Navigation Styles */
nav.horizontal ul li {
   display: block;
   float: left;
   width: 16.66%;
}

nav.horizontal ul li a {
   display: block;
}

/* Grid Styles */
body {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 20px;
}

header, footer {
   grid-column: 1 / -1;
}

section#sub {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

/* Specials Styles */
div.specials {
   min-height: 400px;
   outline: 1px dashed rgb(71, 52, 29);
}

/* Award Styles */
aside {
   position: relative;
   height: 650px;
   overflow: auto;
}

aside div {
   position: absolute;
   width: 30%;
}

#award1 {
   top: 80px;
   left: 5%;
}

#award2 {
   top: 280px;
   left: 60%;
}

#award3 {
   top: 400px;
   left: 20%;
}

#award4 {
   top: 630px;
   left: 45%;
}

#award5 {
   top: 750px;
   left: 5%;
}