@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: William Hamm
   Date:   11/04/2024

   Filename: ws_media.css
*/

/* VideoPlayer Styles */
video {
   display: block;
   width: 90%;
   margin: 5px auto;
}

/* Track Styles */
::cue {
   font-family: sans-serif;
   font-size: 1.3em;
   color: rgb(221, 128, 160);
   background-color: rgba(255, 255, 255, 0.8);
}

/* Media query for screen devices with min-width 521px */
@media only screen and (min-width: 521px) {
   video {
      width: 360px;
      float: right;
      margin: 5px 10px;
   }
}