@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Coding Challenge 3

   Author: William Hamm
   Date:   11/19/2024
   
   Filename: code2-3.css
*/

html {
    padding-left: 30px;
    background-color: hsla(40, 80%, 75%, 0.5);
}

h1, h2 {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-style: italic;
    font-weight: normal;
}

img {
    margin: 0 0 10px 20px;
}

p {
    font-size: 1.4em;
    text-indent: 1em;
}

p:first-of-type {
    text-indent: 0;
}

p:first-of-type::first-line {
    font-variant: small-caps;
}