/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: William Hamm
   Date:   10/22/2024

   Filename: cg_validate.css

*/


/* Validation Styles */

/* Style for input, select, and textarea with focus */
input:focus, select:focus, textarea:focus {
   background-color: rgb(245, 245, 140);
}

/* Style for valid fields with focus */
input:focus:valid, select:focus:valid, textarea:focus:valid {
   background-color: rgb(220, 255, 220);
   background-image: url('cg_valid.png');
   background-repeat: no-repeat;
   background-position: right;
}

/* Style for invalid fields with focus */
input:focus:invalid, select:focus:invalid, textarea:focus:invalid {
   background-color: rgb(255, 232, 232);
   background-image: url('cg_invalid.png');
   background-repeat: no-repeat;
   background-position: right;
}